/*
 |--------------------------------------------------------------------------
 | TailwindCSS Directives
 |--------------------------------------------------------------------------
 |
 | Import TailwindCSS directives and swipe out at build-time with all of
 | the styles it generates based on your configured design system.
 |
 | Please check this link for more details:
 | https://tailwindcss.com/docs/installation#include-tailwind-in-your-css
 |
 */
 @import "./_tailwind.css";

 /*
   |--------------------------------------------------------------------------
   | Colors
   |--------------------------------------------------------------------------
   |
   | Import all fonts used in the template, the font configuration can be
   | seen in "tailwind.config.js".
   |
   | Please check this link for more details:
   | https://tailwindcss.com/docs/theme
   |
   */
 @import "./_colors.css";

 /*
  |--------------------------------------------------------------------------
  | VuePrime
  |--------------------------------------------------------------------------
  |
  | Import PrimeVue CSS files.
  |
  */

@import "./components/_primevue.css";

BODY {
	@apply bg-slate-100;
	font-size:14px;
	font-family: Roboto;
}

.visual-elements-item:hover .visual-elements-menu {
	display: block;
}
.visual-elements-item:hover button {
	@apply bg-blue-500 text-white;
}
.visual-area-col-components .p-tabview .p-tabview-panels {
	padding: 0;
}
.visual-area-col-components .p-accordion .p-accordion-header .p-accordion-header-link {
	background: none !important;
	border-left:none;
	border-right: none;
	padding: 1rem 1rem !important;
	border-radius: 0 !important;
	@apply border-slate-200 flex content-between justify-between !important;
}
.visual-area-col-components .p-accordion .p-accordion-header:not(.p-disabled) .p-accordion-header-link:focus {
	box-shadow: none !important;
}
.visual-area-col-components .p-accordion .p-accordion-content {
	border-top:none !important;
	border-left:none !important;
	border-right:none !important;
	padding:1rem !important;
	border-radius: 0 !important;
	@apply border-b border-slate-200 !important;
}
.visual-area-col-components .p-accordion .p-accordion-header .p-accordion-header-link .p-accordion-toggle-icon {
	order:1;
	margin-right: 0 !important;
	@apply text-slate-300 !important;
	font-size: 14px !important;
}
.visual-area-col-components .p-accordion .p-accordion-header .p-accordion-header-link .p-accordion-toggle-icon.pi-chevron-right {
	transform: rotate(90deg);
}
.visual-area-col-components .p-accordion .p-accordion-header .p-accordion-header-link .p-accordion-toggle-icon.pi-chevron-down {
	transform: rotate(180deg);
}
.visual-area-col-components .p-accordion-header-text {
	font-weight: 500 !important;
	@apply text-slate-600 !important;
}

.visual-ghost {
    height: 10px !important;
    margin:1px 0;
    width: calc(100% - 6px) !important;
    display: flex;
    align-items: center;
    @apply border border-dashed border-sky-400 bg-sky-100;
    margin:3px;
}
.visual-ghost svg,
.visual-ghost p {
    display: none;
}

.visual-component-list {
	flex:0 0 320px;
    @apply p-4;
}
.visual-component-list section {
    margin:0;
    padding:0;
    list-style:none;
    @apply grid grid-cols-2 gap-2;
}
.visual-component-list section div {
    @apply flex justify-center flex-col items-center border border-solid border-slate-300 px-2 py-5 rounded text-center cursor-move text-slate-800 bg-white hover:shadow-md transition-all;
}
.visual-component-list section div p {
    @apply font-medium text-xs m-0;
}
.visual-main {
	flex:1;
	height: calc(100vh - 2.5rem);
}
.visual-main-form {
	min-height: calc(100vh - 2.5rem);
}
.visual-element {
    position: relative;
}
.visual-element.first {
    height: calc(100% - 2px);
}
.visual-hover-element {
    @apply outline outline-amber-500 outline-1 outline-dashed !important;
}
.visual-select-element {
    @apply outline outline-blue-400 outline-1 outline-dashed !important;
}

.visual-select-element.visual-element {
    z-index:10;
}
.visual-select-element.visual-element > .handle,
.visual-select-element.visual-element > .actions {
    @apply flex;
}
.visual-element > .actions,
.visual-element > .handle {
    @apply h-6 bg-blue-400 text-white hidden items-center justify-center absolute z-10;
    top:-24px;
}
.visual-area-builder .container,
.visual-setting-class-flex,
.visual-area-builder .block {
    min-height: 24px;
    @apply outline-gray-200 outline-1 outline-dashed;
}
.visual-area-builder .container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}
.visual-element .handle {
    @apply w-6;
    left:-2px;
}
.visual-element .actions {
    @apply w-12;
    right: -2px;
}
.visual-element .actions span {
    @apply flex w-6 items-center justify-center;
}


.visual-setting-class-flex {
	display: flex;
}
.visual-setting-class-flex > p,
.visual-setting-class-flex > div {
	flex:1;
	height: 100%;
}
