/*
 |--------------------------------------------------------------------------
 | TailwindCSS Directives
 |--------------------------------------------------------------------------
 |
 | Import TailwindCSS directives and swipe out at build-time with all of
 | the styles it generates based on your configured design system.
 |
 | Please check this link for more details:
 | https://tailwindcss.com/docs/installation#include-tailwind-in-your-css
 |
 */
 @import "./_tailwind.css";

 /*
   |--------------------------------------------------------------------------
   | Colors
   |--------------------------------------------------------------------------
   |
   | Import all fonts used in the template, the font configuration can be
   | seen in "tailwind.config.js".
   |
   | Please check this link for more details:
   | https://tailwindcss.com/docs/theme
   |
   */
 @import "./_colors.css";

 /*
  |--------------------------------------------------------------------------
  | VuePrime
  |--------------------------------------------------------------------------
  |
  | Import PrimeVue CSS files.
  |
  */

@import "./components/_primevue.css";

BODY {
	@apply bg-slate-100;
	font-size:14px;
	font-family: Roboto;
}

.visual-elements-item:hover .visual-elements-menu {
	display: block;
}
.visual-elements-item:hover button {
	@apply bg-blue-500 text-white;
}
.visual-area-col-components .p-tabview .p-tabview-panels {
	padding: 0;
}
.visual-area-col-components .p-accordion .p-accordion-header .p-accordion-header-link {
	background: none !important;
	border-left:none;
	border-right: none;
	padding: 1rem 1rem !important;
	border-radius: 0 !important;
	@apply border-slate-200 flex content-between justify-between !important;
}
.visual-area-col-components .p-accordion .p-accordion-header:not(.p-disabled) .p-accordion-header-link:focus {
	box-shadow: none !important;
}
.visual-area-col-components .p-accordion .p-accordion-content {
	border-top:none !important;
	border-left:none !important;
	border-right:none !important;
	padding:1rem !important;
	border-radius: 0 !important;
	@apply border-b border-slate-200 !important;
}
.visual-area-col-components .p-accordion .p-accordion-header .p-accordion-header-link .p-accordion-toggle-icon {
	order:1;
	margin-right: 0 !important;
	@apply text-slate-300 !important;
	font-size: 14px !important;
}
.visual-area-col-components .p-accordion .p-accordion-header .p-accordion-header-link .p-accordion-toggle-icon.pi-chevron-right {
	transform: rotate(90deg);
}
.visual-area-col-components .p-accordion .p-accordion-header .p-accordion-header-link .p-accordion-toggle-icon.pi-chevron-down {
	transform: rotate(180deg);
}
.visual-area-col-components .p-accordion-header-text {
	font-weight: 500 !important;
	@apply text-slate-600 !important;
}
